# Nginx configuration for both HTTP and SSL


map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80 default_server;
    server_name localhost;

    # Maintenance flag and maintenance page paths
    set $maintenance_flag /etc/nginx/html/maintenance.enable;
    set $maintenance_page /etc/nginx/html/maintenance.html;

    # Check if the maintenance flag file exists
    if (-f $maintenance_flag) {
        return 503;
    }

    location /api {
        proxy_pass http://host.docker.internal:5000;

        proxy_set_header Host $host;
        proxy_set_header Proxy "";
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_buffering on;
        proxy_cache off;
        proxy_connect_timeout 60s;
        proxy_read_timeout 36000s;
        proxy_redirect off;

        proxy_pass_header Authorization;
    }

    location / {
        proxy_pass http://host.docker.internal:3000;

        proxy_set_header Host $host;
        proxy_set_header Proxy "";
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_cache off;
        proxy_connect_timeout 60s;
        proxy_read_timeout 36000s;
        proxy_redirect off;

        proxy_pass_header Authorization;
    }

    location /smtp {
        proxy_pass          http://smtp:8025;
        proxy_http_version  1.1;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "Upgrade";
        proxy_set_header    Host $host;
    }

    location /_next {
        proxy_pass          http://host.docker.internal:3000;
        proxy_http_version  1.1;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "Upgrade";
        proxy_set_header    Host $host;
    }

    location /turbopack-hmr {
        proxy_pass          http://host.docker.internal:3000;
        proxy_http_version  1.1;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "Upgrade";
        proxy_set_header    Host $host;
    }

    location ~ ^/public/(.*)$ {
        proxy_pass http://host.docker.internal:5000;

        proxy_set_header Host $host;
        proxy_set_header Proxy "";
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_buffering on;
        proxy_cache off;
        proxy_connect_timeout 60s;
        proxy_read_timeout 36000s;
        proxy_redirect off;

        proxy_pass_header Authorization;
    }

    location ~ ^/api/intention/[A-Za-z0-9]+/files/?$ {
        proxy_pass http://host.docker.internal:5000;

        proxy_set_header Host $host;
        proxy_set_header Proxy "";
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_buffering on;
        proxy_cache off;
        proxy_connect_timeout 60s;
        proxy_read_timeout 36000s;
        proxy_redirect off;

        proxy_pass_header Authorization;

        client_max_body_size    10M;
    }

    # Error page configuration for maintenance mode
    error_page 503 @maintenance;

    # Serve the maintenance page for 503 errors
    location @maintenance {
        root /etc/nginx/html;
        try_files /maintenance.html =503;
    }
}



