{
  "root": true,
  "extends": ["eslint:recommended", "plugin:node/recommended", "plugin:prettier/recommended"],
  "plugins": ["mocha"],
  "rules": {
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error",
    "no-nonoctal-decimal-escape": 0,
    "no-unsafe-optional-chaining": 0,
    "node/no-unsupported-features/es-syntax": 0
  },
  "overrides": [
    {
      "files": ["**/*test.js", "**/*Tests.js", "tests/**/*.js"],
      "rules": {
        "node/no-unpublished-require": 0,
        "no-nonoctal-decimal-escape": 0,
        "no-unsafe-optional-chaining": 0
      }
    }
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
