#Override containers for azure environments
version: "2.4"
services:
  reverse_proxy:
    environment:
      - SERVER_NAME={{dns_name}}
      - NGINX_ALWAYS_TLS_REDIRECT=true
      - PROXY_SSL_CERT=/ssl/fullchain.pem
      - PROXY_SSL_CERT_KEY=/ssl/privkey.pem
    volumes:
      - /opt/pilotage/data/nginx:/data
      - /opt/pilotage/data/ssl:/ssl:ro
      - /opt/pilotage/.overrides/reverse_proxy/includes:/etc/nginx/templates/includes/env

  server:
    volumes:
      - /opt/pilotage/data/server:/data

  metabase:
    image: metabase/metabase:v0.42.0
    container_name: pilotage_metabase
    mem_limit: 2g
    volumes:
      - /opt/pilotage/data/metabase:/data/metabase
      - /opt/pilotage/backups/metabase:/data/backups
    environment:
      MB_DB_FILE: /data/metabase/metabase.db
      MB_SITE_LOCALE: fr
    restart: always
    networks:
      - pilotage_network

  postgres:
    volumes:
      - /opt/pilotage/data/postgres/db:/var/lib/postgresql/data:z
