name: CI

on:
  workflow_call:

jobs:
  typecheck:
    timeout-minutes: 10
    name: "typecheck"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/install-state.gz
            .yarn/cache
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn-

      - name: Install dependencies
        run: yarn install

      - name: typecheck
        run: yarn typecheck:ci

  tests:
    timeout-minutes: 10
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/install-state.gz
            .yarn/cache
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn-

      - name: Install dependencies
        run: yarn install

      - name: Make sure to use same dependencies version across all packages
        run: yarn dedupe --check

      - name: lint
        run: yarn lint

      - name: start postgres service
        run: docker compose up -d --wait postgres

      - name: test
        run: yarn test:ci

      - name: prettier
        run: yarn prettier:check
